*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Makefile
Debug

.cproject
.project
config.log
config.status

asfsafa.in
aclocal.m4
autom4te.cache
 

my_config.h
configure.ac_OLD
generateConfigs.sh
lx_find_mpi.m4
src/cocoa
src/.deps

data/a1a.4/*.log
